@import url("../css/bootstrap-rtl-g.css");
@import url("../css/style.css");
html{
  direction: rtl;
}
html[dir=ltr] body {text-align: right;}
html[dir=rtl] body {text-align: left;}

nav {direction: rtl;}
.left-side{
  order: 1;
}
//.carousel {
//  position: relative;
//}
//
//.carousel.pointer-event {
//  -ms-touch-action: pan-y;
//  touch-action: pan-y;
//}
//
//.carousel-inner {
//  position: relative;
//  width: 100%;
//  overflow: hidden;
//}
//
//.carousel-inner::after {
//  display: block;
//  clear: both;
//  content: "";
//}
//
//.carousel-item {
//  position: relative;
//  display: none;
//  float: left;
//  width: 100%;
//  margin-right: -100%;
//  -webkit-backface-visibility: hidden;
//  backface-visibility: hidden;
//  transition: -webkit-transform 0.6s ease-in-out;
//  transition: transform 0.6s ease-in-out;
//  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
//}
//
//@media (prefers-reduced-motion: reduce) {
//  .carousel-item {
//    transition: none;
//  }
//}
//
//.carousel-item.active,
//.carousel-item-next,
//.carousel-item-prev {
//  display: block;
//}
//
//.carousel-item-next:not(.carousel-item-left),
//.active.carousel-item-right {
//  -webkit-transform: translateX(100%);
//  transform: translateX(100%);
//}
//
//.carousel-item-prev:not(.carousel-item-right),
//.active.carousel-item-left {
//  -webkit-transform: translateX(-100%);
//  transform: translateX(-100%);
//}
//
//.carousel-fade .carousel-item {
//  opacity: 0;
//  transition-property: opacity;
//  -webkit-transform: none;
//  transform: none;
//}
//
//.carousel-fade .carousel-item.active,
//.carousel-fade .carousel-item-next.carousel-item-left,
//.carousel-fade .carousel-item-prev.carousel-item-right {
//  z-index: 1;
//  opacity: 1;
//}
//
//.carousel-fade .active.carousel-item-left,
//.carousel-fade .active.carousel-item-right {
//  z-index: 0;
//  opacity: 0;
//  transition: 0s 0.6s opacity;
//}
//
//@media (prefers-reduced-motion: reduce) {
//  .carousel-fade .active.carousel-item-left,
//  .carousel-fade .active.carousel-item-right {
//    transition: none;
//  }
//}
//
//.carousel-control-prev,
//.carousel-control-next {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  z-index: 1;
//  display: -ms-flexbox;
//  display: flex;
//  -ms-flex-align: center;
//  align-items: center;
//  -ms-flex-pack: center;
//  justify-content: center;
//  width: 15%;
//  color: #fff;
//  text-align: center;
//  opacity: 0.5;
//  transition: opacity 0.15s ease;
//}
//
//@media (prefers-reduced-motion: reduce) {
//  .carousel-control-prev,
//  .carousel-control-next {
//    transition: none;
//  }
//}
//
//.carousel-control-prev:hover, .carousel-control-prev:focus,
//.carousel-control-next:hover,
//.carousel-control-next:focus {
//  color: #fff;
//  text-decoration: none;
//  outline: 0;
//  opacity: 0.9;
//}
//
//.carousel-control-prev {
//  left: 0;
//}
//
//.carousel-control-next {
//  right: 0;
//}
//
//.carousel-control-prev-icon,
//.carousel-control-next-icon {
//  display: inline-block;
//  width: 20px;
//  height: 20px;
//  background: no-repeat 50% / 100% 100%;
//}
//
//.carousel-control-prev-icon {
//  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
//}
//
//.carousel-control-next-icon {
//  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
//}
//
//.carousel-indicators {
//  position: absolute;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  z-index: 15;
//  display: -ms-flexbox;
//  display: flex;
//  -ms-flex-pack: center;
//  justify-content: center;
//  padding-left: 0;
//  margin-right: 15%;
//  margin-left: 15%;
//  list-style: none;
//}
//
//.carousel-indicators li {
//  box-sizing: content-box;
//  -ms-flex: 0 1 auto;
//  flex: 0 1 auto;
//  width: 30px;
//  height: 3px;
//  margin-right: 3px;
//  margin-left: 3px;
//  text-indent: -999px;
//  cursor: pointer;
//  background-color: #fff;
//  background-clip: padding-box;
//  border-top: 10px solid transparent;
//  border-bottom: 10px solid transparent;
//  opacity: .5;
//  transition: opacity 0.6s ease;
//}
//
//@media (prefers-reduced-motion: reduce) {
//  .carousel-indicators li {
//    transition: none;
//  }
//}
//
//.carousel-indicators .active {
//  opacity: 1;
//}
//
//.carousel-caption {
//  position: absolute;
//  right: 15%;
//  bottom: 20px;
//  left: 15%;
//  z-index: 10;
//  padding-top: 20px;
//  padding-bottom: 20px;
//  color: #fff;
//  text-align: center;
//}
//.carousel-item-next.carousel-item-left,
//.carousel-item-prev.carousel-item-right {
//  -webkit-transform: translateX(0);
//  transform: translateX(0);
//}
//
//@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
//  .carousel-item-next.carousel-item-left,
//  .carousel-item-prev.carousel-item-right {
//    -webkit-transform: translate3d(0, 0, 0);
//    transform: translate3d(0, 0, 0);
//  }
//}
//
//.carousel-item-next,
//.active.carousel-item-left {
//    -webkit-transform: translateX(100%);
//    transform: translateX(100%);
//}
//
//.carousel-item-next,
//.active.carousel-item-right {
//    -webkit-transform: translateX(0);
//    transform: translateX(0);
//}
//
//@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
//    .carousel-item-next,
//    .active.carousel-item-left {
//        -webkit-transform: translate3d(100%, 0, 0);
//        transform: translate3d(100%, 0, 0);
//    }
//    .carousel-item-next,
//    .active.carousel-item-right {
//        -webkit-transform: translate3d(0, 0, 0);
//        transform: translate3d(0, 0, 0);
//    }
//}
//
//.carousel-item-prev,
//.active.carousel-item-left {
//    -webkit-transform: translateX(-100%);
//    transform: translateX(-100%);
//}
//
//.carousel-item-prev,
//.active.carousel-item-left {
//    -webkit-transform: translateX(0%);
//    transform: translateX(0%);
//}
//
//@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
//    .carousel-item-prev,
//    .active.carousel-item-right {
//        -webkit-transform: translate3d(-100%, 0, 0);
//        transform: translate3d(-100%, 0, 0);
//    }
//    .active.carousel-item-left {
//        -webkit-transform: translate3d(0, 0, 0);
//        transform: translate3d(0, 0, 0);
//    }
//}
//
//.carousel-control-prev {
//    left: 0;
//    right: initial;
//}
//
//.carousel-control-next {
//    right: 0;
//    left: initial;
//}
//
//.carousel-indicators {
//    padding-right: 0;
//}
//.carousel-indicators li::before {
//    right: 0;
//    left: initial;
//}
//
//.carousel-indicators li::after {
//  right: 0;
//  left: initial;
//}


.navbar{
  //background-color: #f00;
}