@import url("../css/bootstrap-rtl-g.css");
@import url("../css/style.css");
html {
  direction: rtl; }

html[dir=ltr] body {
  text-align: right; }

html[dir=rtl] body {
  text-align: left; }

nav {
  direction: rtl; }

.left-side {
  order: 1; }

/*# sourceMappingURL=style-rtl.css.map */
