/*-----------------------------------------------------------------------------------

[Table of contents]

1. Base (Global style for some elements)
2. Header (Main navigation)
*------------------------------------------------------------------------------------ */
html{
  direction: ltr;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  margin: 0;
  padding: 0;
}

// colors
$dark-olive: #D6111B;
$diff-color: #00869b;
$gray:#393939;
$dark-olive-green: #442C1B;
$saddle-brown:#442414;
$dark-khaki:#BC8D5D;
$maroon:#D6111B;
$light-red: #b11d24;
$rosy-brown: #C4747A;
$white: #FBFBFB;
$black: #000;
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@font-face {
  font-family: Poppins-regular;
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins-bold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: Poppins-Exbold;
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf");
}
@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
li{
  //list-style: none;
  display: inline-block;
  text-decoration: none;
}
a{
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus{
    text-decoration: none;
    cursor: pointer;
  }
}
.btn:hover,
.btn:focus,
.btn.active,
.btn-flat:hover,
.btn-flat:focus,
.form-control:hover,
.form-control:focus,
input, textarea, select, button,
button:focus
{
  box-shadow: none;
  outline: unset;
}

.btn-flat,.btn{
  transition: all 300ms ease-in-out;
  &:hover{
    background-color: transparent;
    border: 2px solid transparent;
    color: $black;
  }
}
button,
button:focus {
  outline: unset; }

//.dropdown-item {
//  &.active,
//  &:active,
//  &:hover,
//  &:focus {
//    text-decoration: none;
//    cursor: pointer;
//  }
//}
a{
  &:link,
  &:visited,
  &:hover,
  &:active,
  &:focus{
    text-decoration: none;
    cursor: pointer;
  }
}
.btn:hover,
.btn:focus,
.btn.active,
.btn-flat:hover,
.btn-flat:focus,
.form-control:hover,
.form-control:focus,
input, textarea, select, button,
button:focus
{
  box-shadow: none;
  outline: unset;
}
button,
button:focus {
  outline: unset; }

.dropdown-item {
  &.active,
  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
  }
}
.btn:hover,
.btn:focus,
.btn-flat:hover,
.btn-flat:focus,
.form-control:hover,
.form-control:focus{
  box-shadow: none;
  outline: unset;
}
body {
  font-family: 'Poppins-regular', sans-serif;
}
p{
  font-family:  Raleway-Regular, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}
h6{
  font-size: 14px;
}
section{
  position: relative;
  overflow: hidden;
  padding: 50px 0;
  h2{
    text-align: center;
    text-transform: uppercase;
    &::after{
      display: block;
      position: relative;
      left: 0;
      top: -.9rem;
      /* height: 2px; */
      transition: all 300ms linear;
    }
  }
}
a {
  text-decoration: none;
  transition: all 300ms linear;
  outline: none;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: inherit;
  }
}

.btn {
  &:hover, &:focus {
    box-shadow: none;
    outline: unset;
  }
}

.btn-flat {
  &:hover, &:focus {
    box-shadow: none;
    outline: unset;
  }
}

.form-control {
  &:hover, &:focus {
    box-shadow: none;
    outline: unset;
  }
}
.btn, .btn-flat {
  position: relative;
  border-radius: 12px;
  font-size: 16px;
  padding: 10px 50px;
  color: $white;
}

.lead {
  margin: 10px 0;
}
.navbar{
  background-color: $white;
  z-index: 1000;
  //transition: all 300ms  linear;
  -webkit-transition: all 300ms  linear;
  -moz-transition: all 300ms  linear;
  -ms-transition:  all 300ms  linear;
  -o-transition:  all 300ms  linear;
  transition: all 300ms  linear;
  padding: .1rem 1rem;
  @media (max-width: 767px) {
    padding: .03rem 1rem;
  }
  .navbar-brand{
    //padding: 0;
    img{
      transition: all 300ms linear;
      width: 188px;
      height: 50px;
    }
  }
  .navbar-nav{
    background-color: transparent;
    select {
      //background-color: #0563af;
      background-color: $dark-olive;
      color: white;
      //padding: 2px;
      border: none;
      font-size: 16px;
      border-radius: 3px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);

    }
    .lng-toggle{
      position: relative;
      padding: 2px;
      border-radius: 5px;
      background-color: $diff-color;
      a.dropdown-toggle{
        color: $white !important;
        font-size: 14px;
      }
      .dropdown-menu{
        border-color: transparent;
        top: 153%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
    }
    .nav-item{
      a{
        color: $gray;
        padding: 0 8px 0 8px;
        text-decoration: none;
        display: inline-block;
        // font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        outline: none;
        &:hover,&.active{
          color: $dark-olive;
        }
        @media screen and (max-width: 992px) {
          padding: 10px 15px 10px 15px;
        }
      }
    }
    @media screen and (max-width: 992px){
      background-color: rgba($white,.9);
    }
  }
  @media screen and (max-width: 991px) {
    .navbar-collapse {
      text-align: center;
      //background-color: rgba($black,.9);
      background-color: rgba($dark-olive,.6);
      li{
        a{
          text-align: center;
        }
        border-bottom: 1px solid rgba($dark-khaki, 0.42);
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }
  &.navbar-shrink {
    background-color: $white;
    -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    padding: 0;
    .navbar-brand {
      padding: 0;
      img {
        width: 170px;
        height: 59px;
      }
    }
    .navbar-nav{
      li{
        a{
          font-weight: 500;
        }

      }
    }
    }
  .navbar-collapse {
    text-align: center;
    background-color: transparent;
  }
  .navbar-toggler {
    border: none;
    background: transparent !important;
    &:focus {
      outline: none;
      background: transparent !important;
    }
    .icon-bar {
      //background-color: darken($white,20%);
      background: rgba($maroon,.8);
      transform: rotate(0deg) translate(0px, 0px);
      transition: ease all .2s;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      + .icon-bar {
        margin-top: 4px;
      }
    }
  }
  .navbar-toggler {
    &:not(.collapsed) .icon-bar
    {
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 4px);
        transition: ease all .2s;
      }
      &:nth-child(2) {
        opacity: 0;
        transition: ease all .2s;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(4px, -4px);
        transition: ease all .2s;
      }
    }
  }

  }
header{
  position: relative;
  height: 600px;

//  slider
  .carousel{
    height: 600px;
    .carousel-inner{
      height: 100%;
      .carousel-item{
        height: 100%;
      }
    }

    .carousel-control-next,.carousel-control-prev {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 24px;
      background: rgba($dark-olive, 0.28);
      opacity: 1;
      border: 0 none;
      color: $white;
      line-height: 70px;
      /*vertical position */
      top: 40%;
      margin: 5px;
      z-index: 11;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
      &:hover{
        background: rgba($dark-olive,1);
      }
    }
    .carousel-indicators  {
      li{
        /*background: #f00 none repeat scroll 0 0;*/
        background-color: #000000;
        border: 0 none;
        border-radius: 50%;
        height: 20px;
        margin: 3px;
        opacity: 0.5;
        width: 20px;
        cursor: pointer;
        &.active,&:hover{
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
      }
    .carousel-caption{
      bottom: auto;
      top: 40%;
    }
  }

}
#about
{
  img{
    height: 400px;
    width: 100%;
  }
}
#services {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  //background-image: url("../images/header-bg.jpg");
  background-color: #f6f6f6;
  height: auto;
  background-attachment: fixed;
  color: $white;
  h5{
    color: $white;
  }
  //&::after{
  //  content: "";
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-color: rgba($black,.6);
  //  z-index: 2;
  //}
  .clients{
    //margin-left: 33.333333%;
  }
  .services-text{
    position: relative;
    z-index: 5;
    color: $black;
  }
  h2{
    margin-bottom: 20px;
  }
 div{
    padding: 10px 0;
    margin-top: 20px;
    cursor: default;
    -webkit-transition: all ease-in-out 300s;
    -moz-transition: all ease-in-out 300s;
    -ms-transition: all ease-in-out 300s;
    -o-transition: all ease-in-out 300s;
    transition: all ease-in-out 300s;
    .image-container{
      width: 80px;
      height: 80px;
      line-height: 80px;
      position: relative;
      border-radius: 50%;
      border: 3px solid $maroon;
      overflow: hidden;
      margin: 0 auto;
      i{
        color: $maroon;
      }
    }
      p{
        width: 90%;
      }
    &:hover {
      .image-container{
        transform: scaleX(-1);
        background-color: $maroon;
        i{
          color: $black;
        }
    }

    }
    ul.subtree{
      list-style: circle;
      margin-top: 15px;
      margin-left: 25px;
      li{
        list-style-type: circle;
        display: block;
        //text-align: left;
        padding: 0;
        margin-bottom:1px;
        -webkit-transition: all 300ms ease-in-out ;
        -moz-transition: all 300ms ease-in-out ;
        -ms-transition: all 300ms ease-in-out ;
        -o-transition: all 300ms ease-in-out ;
        transition: all 300ms ease-in-out ;
        a{
          color: $black;
        }
        &::before {
          content: "•";
          color: $black;
          width: 2em;
          margin-right: 3px;
        }
        &:hover{
          margin-left: 5px;
        }
      }
    }
   .fa{
      color: $maroon;
    }
  }

}

#branches{
  background-color: $gray;
  padding: 120px 0;
  @media (max-width: 767px) {
    padding: 50px 0;
  }
  #address{
    //height: 150px;
    background: antiquewhite;
    margin-top: 20px;
  }
  select {
    background-color: $white;
    color: $dark-olive;
    border: none;
    width: 80%;
    padding: 9px;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  h2{
    color: $white;
    margin-bottom: 20px;
    @media (max-width: 767px) {
      color: #1d2124;
    }
  }
    .contact-box{
      position: relative;
      width: 100%;
      border-radius: 12px;
      height: auto;
      padding: 30px 20px;
      background-color: $white;
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark-gray', endColorstr='$gray', GradientType=1 );
      color: $white !important;
      h5{
        margin-bottom: 25px;
      }
    }
  .form{
    background-color: $dark-olive;
    position: relative;
    height: 100%;
    .pin-icon{
      position: relative;
      margin-bottom: 20px;
      .fa{
        color: $white
      }
    }
    h5{
      color: $white;
    }
    .dropdown{
      .btn.dropdown-toggle{
        background-color: $white;
        color: $dark-olive;
        border-radius: 5px;
        width: 80%;
        margin-bottom: 10px;
      }
    }
  }
    //.site-info{
    //
    //  position: relative;
    //  overflow: hidden;
    //  p.lead{
    //    color: $maroon;
    //  }
    //  .data-connect{
    //    margin-top: 40px;
    //  }
    //  //a.site-box-row{
    //  //  display: block;
    //  //  width: 100%;
    //  //  color: $maroon;
    //  //  h6{
    //  //    display: inline-block;
    //  //    margin-right: 5px;
    //  //    width: 30px;
    //  //    height: 30px;
    //  //    border-radius: 50%;
    //  //    border: 1px solid $maroon;
    //  //    text-align: center;
    //  //    line-height: 30px;
    //  //    .fa{
    //  //      margin-top: 8px;
    //  //    }
    //  //  }
    //  //  p, address{
    //  //    display: inline-block;
    //  //    width: 80%;
    //  //    vertical-align: text-top;
    //  //  }
    //  //  &:hover{
    //  //    h6{
    //  //      border: 1px solid $light-red;
    //  //    }
    //  //    //color: $gray;
    //  //    color: $light-red;
    //  //  }
    //  //}
    //
    //  .dropdown-menu{
    //    background-color: $black;
    //  }
    //}


}
// start Diagnostic center
#Diagnostic{
  .card{
    position: relative;
    margin-bottom: 20px;
    img{
      height: 300px;
    }
    .text-body{
      height: 170px;
    }
    .btn-card{
      background-color: $dark-olive;
      color: $white;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
#contact{
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  .contact-text,form{
    position: relative;
    z-index: 3;
    color: $white
  }
  .data-connect{
    margin-top: 10px;
    a.site-box-row{
      display: block;
      width: 100%;
      color: $maroon;
      h6{
        display: inline-block;
        margin-right: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid $maroon;
        text-align: center;
        line-height: 30px;
        .fa{
          margin-top: 8px;
        }
      }
      p, address{
        display: inline-block;
        width: 80%;
        vertical-align: text-top;
      }
      &:hover{
        h6{
          border: 1px solid $light-red;
        }
        //color: $gray;
        color: $light-red;
      }
    }
  }
  #form-submit-btn{
    background-color: $dark-olive;
    &:hover{
      color: $white;
    }
  }

}
.footer{
  position: relative;
  overflow: hidden;
  //height: 40px;
  //line-height: 40px;
  background:$white;
  padding: 20px 0;
  font-weight: 500;
  color: $dark-olive;
  p{
    color: $gray;
    font-size: 17px;
  }
  a{
    color: $rosy-brown;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    &:hover,&:focus{
      color: lighten($rosy-brown,7)
    }
  }
  .social li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #b91219;
    border-radius: 50%;
    background: #fff;
    border: solid 1px #b91219;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
    &:hover{
      background-color: $dark-olive;
      color: $white;
    }
  }
}

// to top anchor
#scroll-top {
  display: inline-block;
  background-color: rgba($white,.8);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 45px;
  right: 5px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  //-webkit-transform: translate(-50%, 0%) rotate(45deg);
  //-moz-transform: translate(-50%, 0%) rotate(45deg);
  //transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite;
  &::after{
    content: "\f077";
    font-family: FontAwesome, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    line-height: 50px;
    color: $black;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba($white,.8);
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) ; opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) ; opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) ; opacity: 0; }
}