@charset "UTF-8";
/*-----------------------------------------------------------------------------------

[Table of contents]

1. Base (Global style for some elements)
2. Header (Main navigation)
*------------------------------------------------------------------------------------ */
html {
  direction: ltr; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  margin: 0;
  padding: 0; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .row.no-gutters > [class^="col-"], .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0; }

@font-face {
  font-family: Poppins-regular;
  src: url("../fonts/Poppins/Poppins-Regular.ttf"); }
@font-face {
  font-family: Poppins-bold;
  src: url("../fonts/Poppins/Poppins-Bold.ttf"); }
@font-face {
  font-family: Poppins-Exbold;
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf"); }
@font-face {
  font-family: Raleway-Regular;
  src: url("../fonts/Raleway/Raleway-Regular.ttf"); }
li {
  display: inline-block;
  text-decoration: none; }

a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
  cursor: pointer; }

.btn:hover,
.btn:focus,
.btn.active,
.btn-flat:hover,
.btn-flat:focus,
.form-control:hover,
.form-control:focus,
input, textarea, select, button,
button:focus {
  box-shadow: none;
  outline: unset; }

.btn-flat, .btn {
  transition: all 300ms ease-in-out; }
  .btn-flat:hover, .btn:hover {
    background-color: transparent;
    border: 2px solid transparent;
    color: #000; }

button,
button:focus {
  outline: unset; }

a:link, a:visited, a:hover, a:active, a:focus {
  text-decoration: none;
  cursor: pointer; }

.btn:hover,
.btn:focus,
.btn.active,
.btn-flat:hover,
.btn-flat:focus,
.form-control:hover,
.form-control:focus,
input, textarea, select, button,
button:focus {
  box-shadow: none;
  outline: unset; }

button,
button:focus {
  outline: unset; }

.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus {
  text-decoration: none;
  cursor: pointer; }

.btn:hover,
.btn:focus,
.btn-flat:hover,
.btn-flat:focus,
.form-control:hover,
.form-control:focus {
  box-shadow: none;
  outline: unset; }

body {
  font-family: 'Poppins-regular', sans-serif; }

p {
  font-family: Raleway-Regular, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600; }

h6 {
  font-size: 14px; }

section {
  position: relative;
  overflow: hidden;
  padding: 50px 0; }
  section h2 {
    text-align: center;
    text-transform: uppercase; }
    section h2::after {
      display: block;
      position: relative;
      left: 0;
      top: -.9rem;
      /* height: 2px; */
      transition: all 300ms linear; }

a {
  text-decoration: none;
  transition: all 300ms linear;
  outline: none;
  cursor: pointer; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: inherit; }

.btn:hover, .btn:focus {
  box-shadow: none;
  outline: unset; }

.btn-flat:hover, .btn-flat:focus {
  box-shadow: none;
  outline: unset; }

.form-control:hover, .form-control:focus {
  box-shadow: none;
  outline: unset; }

.btn, .btn-flat {
  position: relative;
  border-radius: 12px;
  font-size: 16px;
  padding: 10px 50px;
  color: #FBFBFB; }

.lead {
  margin: 10px 0; }

.navbar {
  background-color: #FBFBFB;
  z-index: 1000;
  -webkit-transition: all 300ms  linear;
  -moz-transition: all 300ms  linear;
  -ms-transition: all 300ms  linear;
  -o-transition: all 300ms  linear;
  transition: all 300ms  linear;
  padding: .1rem 1rem; }
  @media (max-width: 767px) {
    .navbar {
      padding: .03rem 1rem; } }
  .navbar .navbar-brand img {
    transition: all 300ms linear;
    width: 188px;
    height: 50px; }
  .navbar .navbar-nav {
    background-color: transparent; }
    .navbar .navbar-nav select {
      background-color: #D6111B;
      color: white;
      border: none;
      font-size: 16px;
      border-radius: 3px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); }
    .navbar .navbar-nav .lng-toggle {
      position: relative;
      padding: 2px;
      border-radius: 5px;
      background-color: #00869b; }
      .navbar .navbar-nav .lng-toggle a.dropdown-toggle {
        color: #FBFBFB !important;
        font-size: 14px; }
      .navbar .navbar-nav .lng-toggle .dropdown-menu {
        border-color: transparent;
        top: 153%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; }
    .navbar .navbar-nav .nav-item a {
      color: #393939;
      padding: 0 8px 0 8px;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      text-transform: uppercase;
      outline: none; }
      .navbar .navbar-nav .nav-item a:hover, .navbar .navbar-nav .nav-item a.active {
        color: #D6111B; }
      @media screen and (max-width: 992px) {
        .navbar .navbar-nav .nav-item a {
          padding: 10px 15px 10px 15px; } }
    @media screen and (max-width: 992px) {
      .navbar .navbar-nav {
        background-color: rgba(251, 251, 251, 0.9); } }
  @media screen and (max-width: 991px) {
    .navbar .navbar-collapse {
      text-align: center;
      background-color: rgba(214, 17, 27, 0.6); }
      .navbar .navbar-collapse li {
        border-bottom: 1px solid rgba(188, 141, 93, 0.42); }
        .navbar .navbar-collapse li a {
          text-align: center; }
        .navbar .navbar-collapse li:last-child {
          border-bottom: none; } }
  .navbar.navbar-shrink {
    background-color: #FBFBFB;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    padding: 0; }
    .navbar.navbar-shrink .navbar-brand {
      padding: 0; }
      .navbar.navbar-shrink .navbar-brand img {
        width: 170px;
        height: 59px; }
    .navbar.navbar-shrink .navbar-nav li a {
      font-weight: 500; }
  .navbar .navbar-collapse {
    text-align: center;
    background-color: transparent; }
  .navbar .navbar-toggler {
    border: none;
    background: transparent !important; }
    .navbar .navbar-toggler:focus {
      outline: none;
      background: transparent !important; }
    .navbar .navbar-toggler .icon-bar {
      background: rgba(214, 17, 27, 0.8);
      transform: rotate(0deg) translate(0px, 0px);
      transition: ease all .2s;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px; }
      .navbar .navbar-toggler .icon-bar + .icon-bar {
        margin-top: 4px; }
  .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s; }
  .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s; }
  .navbar .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s; }

header {
  position: relative;
  height: 600px; }
  header .carousel {
    height: 600px; }
    header .carousel .carousel-inner {
      height: 100%; }
      header .carousel .carousel-inner .carousel-item {
        height: 100%; }
    header .carousel .carousel-control-next, header .carousel .carousel-control-prev {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 24px;
      background: rgba(214, 17, 27, 0.28);
      opacity: 1;
      border: 0 none;
      color: #FBFBFB;
      line-height: 70px;
      /*vertical position */
      top: 40%;
      margin: 5px;
      z-index: 11;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
      header .carousel .carousel-control-next:hover, header .carousel .carousel-control-prev:hover {
        background: #d6111b; }
    header .carousel .carousel-indicators li {
      /*background: #f00 none repeat scroll 0 0;*/
      background-color: #000000;
      border: 0 none;
      border-radius: 50%;
      height: 20px;
      margin: 3px;
      opacity: 0.5;
      width: 20px;
      cursor: pointer; }
      header .carousel .carousel-indicators li.active, header .carousel .carousel-indicators li:hover {
        background-color: rgba(0, 0, 0, 0.4); }
    header .carousel .carousel-caption {
      bottom: auto;
      top: 40%; }

#about img {
  height: 400px;
  width: 100%; }

#services {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  background-color: #f6f6f6;
  height: auto;
  background-attachment: fixed;
  color: #FBFBFB; }
  #services h5 {
    color: #FBFBFB; }
  #services .services-text {
    position: relative;
    z-index: 5;
    color: #000; }
  #services h2 {
    margin-bottom: 20px; }
  #services div {
    padding: 10px 0;
    margin-top: 20px;
    cursor: default;
    -webkit-transition: all ease-in-out 300s;
    -moz-transition: all ease-in-out 300s;
    -ms-transition: all ease-in-out 300s;
    -o-transition: all ease-in-out 300s;
    transition: all ease-in-out 300s; }
    #services div .image-container {
      width: 80px;
      height: 80px;
      line-height: 80px;
      position: relative;
      border-radius: 50%;
      border: 3px solid #D6111B;
      overflow: hidden;
      margin: 0 auto; }
      #services div .image-container i {
        color: #D6111B; }
    #services div p {
      width: 90%; }
    #services div:hover .image-container {
      transform: scaleX(-1);
      background-color: #D6111B; }
      #services div:hover .image-container i {
        color: #000; }
    #services div ul.subtree {
      list-style: circle;
      margin-top: 15px;
      margin-left: 25px; }
      #services div ul.subtree li {
        list-style-type: circle;
        display: block;
        padding: 0;
        margin-bottom: 1px;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out; }
        #services div ul.subtree li a {
          color: #000; }
        #services div ul.subtree li::before {
          content: "•";
          color: #000;
          width: 2em;
          margin-right: 3px; }
        #services div ul.subtree li:hover {
          margin-left: 5px; }
    #services div .fa {
      color: #D6111B; }

#branches {
  background-color: #393939;
  padding: 120px 0; }
  @media (max-width: 767px) {
    #branches {
      padding: 50px 0; } }
  #branches #address {
    background: antiquewhite;
    margin-top: 20px; }
  #branches select {
    background-color: #FBFBFB;
    color: #D6111B;
    border: none;
    width: 80%;
    padding: 9px;
    font-size: 16px;
    border-radius: 3px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px; }
  #branches h2 {
    color: #FBFBFB;
    margin-bottom: 20px; }
    @media (max-width: 767px) {
      #branches h2 {
        color: #1d2124; } }
  #branches .contact-box {
    position: relative;
    width: 100%;
    border-radius: 12px;
    height: auto;
    padding: 30px 20px;
    background-color: #FBFBFB;
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark-gray', endColorstr='$gray', GradientType=1 );
    color: #FBFBFB !important; }
    #branches .contact-box h5 {
      margin-bottom: 25px; }
  #branches .form {
    background-color: #D6111B;
    position: relative;
    height: 100%; }
    #branches .form .pin-icon {
      position: relative;
      margin-bottom: 20px; }
      #branches .form .pin-icon .fa {
        color: #FBFBFB; }
    #branches .form h5 {
      color: #FBFBFB; }
    #branches .form .dropdown .btn.dropdown-toggle {
      background-color: #FBFBFB;
      color: #D6111B;
      border-radius: 5px;
      width: 80%;
      margin-bottom: 10px; }

#Diagnostic .card {
  position: relative;
  margin-bottom: 20px; }
  #Diagnostic .card img {
    height: 300px; }
  #Diagnostic .card .text-body {
    height: 170px; }
  #Diagnostic .card .btn-card {
    background-color: #D6111B;
    color: #FBFBFB;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px; }

#contact {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; }
  #contact::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2; }
  #contact .contact-text, #contact form {
    position: relative;
    z-index: 3;
    color: #FBFBFB; }
  #contact .data-connect {
    margin-top: 10px; }
    #contact .data-connect a.site-box-row {
      display: block;
      width: 100%;
      color: #D6111B; }
      #contact .data-connect a.site-box-row h6 {
        display: inline-block;
        margin-right: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #D6111B;
        text-align: center;
        line-height: 30px; }
        #contact .data-connect a.site-box-row h6 .fa {
          margin-top: 8px; }
      #contact .data-connect a.site-box-row p, #contact .data-connect a.site-box-row address {
        display: inline-block;
        width: 80%;
        vertical-align: text-top; }
      #contact .data-connect a.site-box-row:hover {
        color: #b11d24; }
        #contact .data-connect a.site-box-row:hover h6 {
          border: 1px solid #b11d24; }
  #contact #form-submit-btn {
    background-color: #D6111B; }
    #contact #form-submit-btn:hover {
      color: #FBFBFB; }

.footer {
  position: relative;
  overflow: hidden;
  background: #FBFBFB;
  padding: 20px 0;
  font-weight: 500;
  color: #D6111B; }
  .footer p {
    color: #393939;
    font-size: 17px; }
  .footer a {
    color: #C4747A;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600; }
    .footer a:hover, .footer a:focus {
      color: #cf8d92; }
  .footer .social li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #b91219;
    border-radius: 50%;
    background: #fff;
    border: solid 1px #b91219;
    -webkit-transition: all .8s ease;
    transition: all .8s ease; }
    .footer .social li a:hover {
      background-color: #D6111B;
      color: #FBFBFB; }

#scroll-top {
  display: inline-block;
  background-color: rgba(251, 251, 251, 0.8);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  bottom: 45px;
  right: 5px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  -webkit-animation: fade_move_down 2s ease-in-out infinite;
  -moz-animation: fade_move_down 2s ease-in-out infinite;
  animation: fade_move_down 2s ease-in-out infinite; }
  #scroll-top::after {
    content: "\f077";
    font-family: FontAwesome, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    line-height: 50px;
    color: #000; }
  #scroll-top:hover {
    cursor: pointer;
    background-color: rgba(251, 251, 251, 0.8); }
  #scroll-top.show {
    opacity: 1;
    visibility: visible; }

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: translate(0, 10px);
    opacity: 0; } }
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -moz-transform: translate(0, 10px);
    opacity: 0; } }
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: translate(0, 10px);
    opacity: 0; } }

/*# sourceMappingURL=style.css.map */
